/* Removes the border on bootstrap tabs */
.nav-tabs, .nav, .nav-item, .nav-link {
    border: none !important;
}

.nav-link {
    color: white;
}

.nav-link.active {
    background-color: #171717 !important;
    color: #0d6efd !important;
}

.nav-item > a:hover {
    color: #0d6efd;
}

.black-bg {
    background-color: #171717;
}

.grey-bg {
    background-color: #282c34;
}

.text-bold {
    font-weight: bolder;
}

.text-white {
    color: #fff;
}

.text-grey {
    color: #6c757d;
}

/* Makes the element extend the full height of the viewport */
.max-height {
    min-height: 100vh;
    display:flex;
    flex-direction:column;
}

.flex-1 {
    flex:1;
}

.ml-5 {
    margin-left: 3rem;
}