/* Removes the border on bootstrap tabs */
.nav-tabs, .nav, .nav-item, .nav-link {
    border: none !important;
}

.black-bg {
    background-color: #171717;
}

.grey-bg {
    background-color: #282c34;
}

.text-bold {
    font-weight: bolder;
}

.text-white {
    color: #fff;
}

.text-grey {
    color: #6c757d;
}

/* Makes the element extend the full height of the viewport */
.max-height {
    min-height: 100vh;
    display:flex;
    flex-direction:column;
}

.flex-1 {
    flex:1;
}

.ml-4 {
    margin-left: 1.5rem;
}