.center-preview{
    width: 400px;
    height: 400px;
    object-fit: none;
}

.fancybox-slide--image {
    overflow-y: auto;
}

.gallery-img {
    display: inline-block;
    position: relative;
}

.caption-overlay {
    opacity: 0%;
    background: linear-gradient(to bottom, rgba(34, 34, 34, 0), rgba(34, 34, 34, 0.7));
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    transition: opacity 0.3s linear;
}

.caption-overlay-inner {
    position: absolute;
    padding: 3rem 3rem;
    bottom: 0;
    left: 0;
    width: 100%;
}

.caption-text {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    line-height: 1.5rem;
    overflow-wrap: break-word;
}

.gallery-img:hover .caption-overlay {
    opacity: 1;
}