/* Removes the border on bootstrap tabs */
.nav-tabs, .nav, .nav-item, .nav-link {
    border: none !important;
}

.nav-link {
    color: white;
}

.gallery-nav.nav-link.active {
    background-color: #282c34 !important;
    color: #0d6efd !important;
}

.nav-item > a:hover {
    color: #0d6efd;
}